.RsvpCard {
  @include card();
}

.Rsvp-contact-container {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.Rsvp-contact {
  display: block;
  a {
    color: $color-green;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
