@import "~scss/_grid";
@import "~scss/_mixins";
@import "~scss/_skeleton";
@import "~scss/_variables";
.list {
    list-style: none;
    @include flex-row(1rem);
}

.item {
    position: relative;
    @include breakpoint(1px, 450px) {
        @include flex-gtr-col(2, 1rem);
    }
    @include breakpoint(451px, 759px) {
        @include flex-gtr-col(3, 1rem);
    }
    @include breakpoint(760px) {
        @include flex-gtr-col(4, 1rem);
    }
}

.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    margin-bottom: 0.5rem;
    &::after {
        content: "";
        padding-bottom: 100%;
        display: block;
    }
}

.imageCaption {
  display: none;
}

.likesContainer {
    margin: 0 0 0.5rem 0;
    @include flex-center();
}

.likesCount {
    display: block;
    margin-right: 0.5rem;
}

.likesHeart {
    height: 1.2rem;
    width: 1.2rem;
}

.poster {
    text-align: center;
    margin: 0;
}

//////////////////////////////////////////
// Skeleton
//////////////////////////////////////////
.skeleton {
    @include skeleton(darken($skeleton-gradient, 15%), darken($skeleton-pulse, 4%), auto, 100%);
}

.skeletonBlock {
    z-index: $z-index-first;
    background-color: white;
    display: block;
    position: absolute;
}