@import "grid";
@import "breakpoints";
@import "variables";

.list {
  @mixin flexRow 0;

  @media (--viewport-min-768) {
    @mixin flexRow 1rem;
  }
}

.item {
  @mixin flexGtrCol 2, 0;

  @media (--viewport-min-768) {
    @mixin flexGtrCol 3, 1rem;
  }

  @media (--viewport-min-960) {
    @mixin flexGtrCol 4, 1rem;
  }
}

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.imageCaption {
  display: none;
}

.likesContainer {
  @mixin flexCenter;

  margin: 0 0 0.5rem 0;
}

.likesCount {
  display: block;
  margin-right: 0.5rem;
}

.likesHeart {
  height: 1.2rem;
  width: 1.2rem;
}

.poster {
  text-align: center;
  margin: 0;
}
