@import "grid";
@import "mixins";
@import "variables";
.list {
  @mixin flexRow;

  list-style: none;
}

.item {
  position: relative;
  /* @include breakpoint(1px, 450px) {
    @include flex-gtr-col(2, 0);
  }
  @include breakpoint(451px, 759px) {
    @include flex-gtr-col(3, 0);
  }
  @include breakpoint(760px) {
    @include flex-gtr-col(3, 0);
  } */
}

.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &::after {
    content: "";
    padding-bottom: 100%;
    display: block;
  }
}

.imageCaption {
  display: none;
}

.likesContainer {
  @mixin flexCenter;

  margin: 0 0 0.5rem 0;
}

.likesCount {
  display: block;
  margin-right: 0.5rem;
}

.likesHeart {
  height: 1.2rem;
  width: 1.2rem;
}

.poster {
  text-align: center;
  margin: 0;
}
