@import "variables";
@import "skeleton";
@import "mixins";

.container {
  padding: 2rem;
  background-color: white;
}

.list {
  @mixin skeleton(var(--skeleton-gradient), var(--skeleton-pulse));

  list-style: none;
  width: 100%;
  height: 30rem;
  margin: 0 auto;
  max-width: var(--max-inner-content);
  padding: 0;
  @media (--viewport-min-960) {
    margin-top: 1rem;
  }
}

.block {
  z-index: var(--z-index-first);
  background: white;
  position: absolute;
  width: 100%;
  height: 3.5rem;
}

.r1c1 {
  top: 2.5rem;
}

.r2c1 {
  top: 8.5rem;
}

.r3c1 {
  top: 14.5rem;
}

.r4c1 {
  top: 20.5rem;
}

.r5c1 {
  top: 26.5rem;
}
