@import "~scss/_variables";
.button {
    text-align: center;
    width: 10rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    &:hover,
   {
        .mouse {
            border: 2px solid $color-medium-grey;
            background-color: $color-medium-grey;
        }
    }
    &:active {
        .mouse {
            border: 2px solid $text-grey;
            background-color: $text-grey;
        }
    }
}

.mouse {
    display: inline-block;
    height: 4.2rem;
    width: 2.5rem;
    border: 2px solid white;
    transition: border 0.2s ease;
    background-color: transparent;
    border-radius: 2rem;
    position: relative;
}

@keyframes scrollDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(2rem);
    }
}

.wheel {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 1rem;
    display: block;
    width: 7px;
    height: 7px;
    background: white;
    border-radius: 50%;
    transition: background 0.2s ease;
    animation: scrollDown 1.5s infinite;
}