@import "variables";

@define-mixin button $color {
  display: inline-block;
  border: none;
  outline: 0;
  color: var(--color-white);
  padding: var(--default-margin) var(--double-default-margin);
  border-radius: var(--double-default-margin);
  min-width: 10rem;
  cursor: pointer;
  background: $color;
  transition: background 0.2s ease;

  &:hover {
    background-color: blacken($color, 15%);
  }
  &:active {
    background-color: blacken($color, 20%);
  }
}

.container {
  @mixin button var(--color-green);

  &_isDisabled {
    @mixin button var(--color-medium-grey);
  }
}
