@import "variables";
@import "breakpoints";

.container {
  text-align: center;
  margin-bottom: var(--triple-default-margin);
}

.heading {
  font-size: var(--font-size-m);
  display: inline-block;
  margin: 0;
  width: 80%;
  min-width: 210px;

  @media (--viewport-min-480) {
    font-size: var(--font-size-l);
  }

  @media (--viewport-min-960) {
    font-size: var(--font-size-xl);
  }
}

.headingSpan {
  position: relative;
  display: block;
  background: var(--color-red);
  color: white;
  text-align: center;
  z-index: var(--z-index-first);
  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    bottom: calc(var(--negative-ribbon-size) / 2);
    border: var(--ribbon-size) solid color(var(--color-red) blackness(5%));
  }
  &:before {
    left: calc(var(--negative-ribbon-size) * 2 + var(--ribbon-size) / 2);
    /* left: -$size * 2 + $size/2; */

    border-left-color: transparent;
  }
  &:after {
    right: calc(var(--negative-ribbon-size) * 2 + var(--ribbon-size) / 2);
    border-right-color: transparent;
  }
}

.headingInnerSpan {
  padding: --var(half-default-margin);
  @media (--viewport-min-480) {
    padding: 0.9rem;
  }
  @media (--viewport-min-960) {
    padding: var(--default-margin);
  }
}

.headingInnerSpan::after,
.headingInnerSpan::before {
  position: absolute;
  display: block;
  border-style: solid;
  bottom: calc((var(--ribbon-size) * -1) / 2);
  border-color: color(var(--color-red) blackness(20%)) transparent transparent
    transparent;
}

.headingInnerSpan::before {
  left: 0;
  border-width: calc(var(--ribbon-size) / 2) 0 0 calc(var(--ribbon-size) / 2);
}

.headingInnerSpan::after {
  right: 0;
  border-width: calc(var(--ribbon-size) / 2) calc(var(--ribbon-size) / 2) 0 0;
}
