@import "~scss/_variables";
@import "~scss/_mixins";
//////////////////////////////////////////
// H1 heading with ribbon styling
//////////////////////////////////////////
$size: 1.3rem;
.container {
    text-align: center;
    margin-bottom: 3*$default-margin;
}

.heading {
    font-size: $font-size-m;
    display: inline-block;
    margin: 0;
    width: 80%;
    min-width: 210px;
    @include breakpoint(500px) {
        font-size: $font-size-l;
    }
    @include breakpoint($header-breakpoint) {
        font-size: $font-size-xl;
    }
}

.headingSpan {
    position: relative;
    display: block;
    background: $color-red;
    color: white;
    text-align: center;
    z-index: $z-index-first;
    &:before,
    &:after {
        content: "";
        position: absolute;
        display: block;
        bottom: -$size/2;
        border: $size solid darken($color-red, 5%);
    }
    &:before {
        left: -$size*2 + $size/2;
        border-left-color: transparent;
    }
    &:after {
        right: -$size*2 + $size/2;
        border-right-color: transparent;
    }
}

.headingInnerSpan {
    padding: $half-default-margin;
    @include breakpoint(500px) {
        padding: 0.9rem;
    }
    @include breakpoint($header-breakpoint) {
        padding: $default-margin;
    }
}

.headingInnerSpan::after,
.headingInnerSpan::before {
    position: absolute;
    display: block;
    border-style: solid;
    bottom: -$size/2;
    border-color: darken($color-red, 20%) transparent transparent transparent;
}

.headingInnerSpan::before {
    left: 0;
    border-width: $size/2 0 0 $size/2;
}

.headingInnerSpan::after {
    right: 0;
    border-width: $size/2 $size/2 0 0;
}