@import "variables";
@import "breakpoints";

.container {
  z-index: var(--z-index-third);
  width: 40px;
  height: 40px;
  top: var(--default-margin);
  right: var(--default-margin);
  position: fixed;
  background-color: var(--burger-background);
  cursor: pointer;
  perspective: 40px;
  border: none;
  outline: 0;

  @media (--viewport-min-960) {
    display: none;
  }
}

.inner {
  transform: translate3d(0, 0, 0);
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease-out;
  transform: translate3d(0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
}

.bread {
  position: absolute;
  height: var(--burger-thickness);
  top: 19px;
  width: 80%;
  right: 10%;
  background-color: var(--burger-color);
  &:before {
    background-color: var(--burger-color);
    position: absolute;
    content: "";
    height: var(--burger-thickness);
    width: 100%;
    right: 0;
    top: -10px;
    transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  }
  &:after {
    background-color: var(--burger-color);
    position: absolute;
    content: "";
    height: var(--burger-thickness);
    width: 100%;
    right: 0;
    top: 10px;
    transition: transform 0.5s cubic-bezier(0.6, 0, 0.4, 1);
  }
}

.container.isOpen {
  .inner {
    transform: rotateY(0) rotateX(180deg);
  }
  .bread {
    background-color: var(--burger-background);
  }
  .bread:before {
    opacity: 1;
    transform: translateY(10px) translateX(0px) rotate(-45deg);
  }
  .bread:after {
    opacity: 1;
    transform: translateY(-10px) translateX(0px) rotate(45deg);
  }
}
