@import "variables";
@import "breakpoints";
@import "grid";
@import "skeleton";

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.heading {
  text-align: center;
  padding-bottom: var(--default-margin);
  margin: 0 0 var(--double-default-margin);

  position: relative;
  &::after {
    height: 4px;
    width: 4rem;
    content: "";
    position: absolute;
    background-color: var(--color-medium-grey);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.item {
  @mixin card;

  list-style: none;
  margin-bottom: 1rem;
  flex-basis: 100%;

  @media (--viewport-min-960) {
    flex-basis: calc(50% - 0.5rem);
    &:nth-of-type(odd) {
      margin-right: 0.5rem;
    }
    &:nth-of-type(even) {
      margin-left: 0.5rem;
    }
  }
}

.skeleton {
  @mixin skeleton;

  height: 168px;
  padding: 0;
  border-top: 2rem solid white;
  border-bottom: 2rem solid white;
  border-left: 1rem solid white;
  border-right: 1rem solid white;
}

.skeletonBlock {
  z-index: var(--z-index-first);
  background-color: white;
  display: block;
  position: absolute;
}

.r1c1 {
  top: 0rem;
  bottom: 0;
  right: 0;
  width: 15%;
}

.r2c1 {
  right: 0;
  width: 40%;
  height: 1.3rem;
}

.r3c1 {
  top: 1.3rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}

.r4c1 {
  top: 3.9rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}

.r5c1 {
  top: 6.5rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}
