@import "variables";
@import "breakpoints";
@import "layout";
@import "skeleton";

.list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.item {
  @mixin card;

  list-style: none;
  margin-bottom: 1rem;
  flex-basis: 100%;

  @media (--viewport-min-960) {
    flex-basis: calc(50% - 0.5rem);
    &:nth-of-type(odd) {
      margin-right: 0.5rem;
    }
    &:nth-of-type(even) {
      margin-left: 0.5rem;
    }
  }
}

.skeleton {
  height: 168px;
  padding: 0;
  border-top: 2rem solid white;
  border-bottom: 2rem solid white;
  border-left: 1rem solid white;
  border-right: 1rem solid white;

  @mixin skeleton(darken($skeleton-gradient, 15%), darken($skeleton-pulse, 4%));
}

.skeletonBlock {
  z-index: var(--z-index-first);
  background-color: white;
  display: block;
  position: absolute;
}

.r1c1 {
  top: 0rem;
  bottom: 0;
  right: 0;
  width: 15%;
}

.r2c1 {
  right: 0;
  width: 40%;
  height: 1.3rem;
}

.r3c1 {
  top: 1.3rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}

.r4c1 {
  top: 3.9rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}

.r5c1 {
  top: 6.5rem;
  left: 0;
  right: 0;
  height: 1.3rem;
}
