@import "grid";
@import "smixins";
@import "skeleton";
@import "variables";

.list {
  list-style: none;
  @include flex-row(1rem);
}

.item {
  position: relative;
  /* @include breakpoint(1px, 450px) {
    @include flex-gtr-col(2, 1rem);
  }
  @include breakpoint(451px, 759px) {
    @include flex-gtr-col(3, 1rem);
  }
  @include breakpoint(760px) {
    @include flex-gtr-col(4, 1rem);
  } */
}

.skeleton {
  @mixin skeleton(var(--skeleton-gradient), var(--skeleton-pulse));
}

.skeletonBlock {
  z-index: var(--z-index-first);
  background-color: white;
  display: block;
  position: absolute;
}
