@import "variables";

@keyframes pulse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@define-mixin skeleton $gradientBackground: #f7f7f7, $gradientPulse: #f0f0f0,
  $height: 5rem, $paddingbottom: 0 {
  position: relative;
  overflow: hidden;
  background-color: gradientBackground;
  &:after {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: pulse;
    animation-timing-function: linear;
    background-image: linear-gradient(
      to right,
      $gradientBackground 0%,
      $gradientBackground 33%,
      $gradientPulse 66%,
      $gradientBackground 100%
    );
    background-size: 100% $height;
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    padding-bottom: $paddingbottom; /* <-- PASS 100% if I want the cube to a perfect square */
    content: "";
  }
}
