:root {
  --text-grey: #4c4c4c;
  --light-grey: #d4d4d4;
  --medium-grey: #737373;
  --turquoise: #00a6bf;
  --white: #fff;
  --green: #27ae60;
  --red: #e74c3c;
  --orange: #ff9959;
  --off-white: #917070;

  /* Shadow */
  --box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.577);

  /* Transparent white */
  --transparent-white: rgba(255, 255, 255, 0.808);

  /* Component and application colors */
  --app-background: #efe9e5;
  --skeleton-background: #cacaca;
  --skeleton-gradient: #dadada;
  --link-color: var(--turquoise);

  /* Default sizes */
  --half-default-margin: 0.5rem;
  --default-margin: 1rem;
  --double-default-margin: 2rem;
  --triple-default-margin: 3rem;

  /* Layut sizes */
  --header-desk-height: 5rem;
  --header-mobile-height: 4rem;
  --page-max-width: 960px;
  --header-breakpoint: 960px;
  --max-inner-content: 560px;
  --header-desk-height: 5rem;

  /* Component sizes */
  --radio-btn-circle-size: 1.5rem;
  --ribbon-size: 1.3rem;
  --negative-ribbon-size: -1.3rem;

  /* Typography */
  --font-size-xs: 0.8rem;
  --font-size-s: 0.9rem;
  --font-size-m: 1rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.8rem;
  --font-size-xxl: 2rem;

  /* z-index */
  --z-index-first: 1;
  --z-index-second: 10;
  --z-index-third: 100;
  --z-index-fourth: 200;
}
