@import "~scss/_variables";
@keyframes radioPulse {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(2);
        opacity: 0.5;
    }
}

$circle-size: 1.5rem;
.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding: 0.5rem;
    max-width: 13rem;
    font-size: $font-size-s;
    color: $color-medium-grey;
}

.input {
    margin-right: 0.5rem;
    position: relative;
    height: $circle-size;
    width: $circle-size;
    opacity: 0;
}

.circle {
    position: absolute;
    height: $circle-size;
    width: $circle-size;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 50%;
    z-index: 4;
    border: 2px solid $color-medium-grey;
    &_isChecked {
        &:after {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 3;
            transform: translate(-50%, -50%);
            height: 60%;
            width: 60%;
            border-radius: 50%;
            content: "";
        }
    }
}

.circle.circle_isChecked.circle_isPositive {
    border: 2px solid $color-green;
    &:after {
        background-color: $color-green;
    }
}

.circle.circle_isChecked.circle_isNegative {
    border: 2px solid $color-red;
    &:after {
        background-color: $color-red;
    }
}