@import "~scss/_variables";
@import "~scss/_mixins";
.card {
    @include card();
    word-break: break-all;
    text-align: center;
}

.inner {
    display: inline-block;
    text-align: left;
}

.list {
    list-style: none;
}

.item {
    margin-bottom: 1rem;
}