@import "grid";
@import "variables";
@import "breakpoints";

.card {
  @mixin card var(--default-margin);

  word-break: break-all;
  text-align: center;

  @media (--viewport-min-480) {
    @mixin card var(--double-default-margin);
  }
}

.inner {
  display: inline-block;
  text-align: left;
}

.list {
  list-style: none;
}

.item {
  margin-bottom: 1rem;
}
