@import "~scss/_variables";
@import "~scss/_mixins";
@import "~scss/_grid";
.container {
    @include pageContainer();
    @include contentContainer();
}

.list {
    padding: 0;
    list-style: none;
}

.item {
    @include card();
    margin-bottom: $default-margin;
}

.question,
.answer {
    margin-top: 0;
}

.question {
    font-size: $font-size-m;
    margin-bottom: $default-margin;
}

.answer {
    font-size: $font-size-s;
    margin-bottom: 0;
}