@import "variables";
// @import "scss/_mixins";
// @import "scss/_keyframes";

.container {
  box-shadow: -1px -4px 15px 0 rgba(0, 0, 0, 0.577);
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  z-index: $z-index-third;

  @include breakpoint(1px, $header-breakpoint) {
    height: 100%;
    width: $mobile-menu-width;
    &.initiallyHidden {
      display: none;
    }
    &.isClosed {
      animation: sk-scaledown 0.35s ease-in-out;
      animation-fill-mode: forwards;
      animation-direction: linear;
      display: flex;
    }
    &.isOpen {
      display: flex;
      animation: sk-scaleup 0.35s ease-in-out;
    }
  }
  @include breakpoint($header-breakpoint) {
    height: $header-desk-height;
    width: 100%;
  }
}

.inner {
  margin: 0 auto;
  max-width: 960px; // max-width: $page-max-width;
  display: flex;
  @include breakpoint(1px, $header-breakpoint) {
    display: flex;
    align-items: center;
  }
  @include breakpoint($header-breakpoint) {
    width: 100%;
    justify-content: space-between;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include breakpoint($header-breakpoint) {
    display: inline-flex;
  }
}

.item {
  padding: 1.5rem 1rem 1.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint(1px, $header-breakpoint) {
    justify-content: flex-start; // margin-left: 1rem;
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.largeIcon {
  height: 2rem;
  width: 2rem;
}

@mixin underline($color: null) {
  text-decoration: none;
  @include breakpoint(900px) {
    transition: all 0.2s ease;
    cursor: pointer;
    &:after {
      bottom: -5px;
      backface-visibility: hidden;
      border: 1px solid rgba($color, 0);
      content: "";
      display: block;
      margin: 0 auto;
      position: absolute;
      transition: all 0.2 ease-in-out;
      width: 0;
    }
    &:hover {
      color: $color;
      &:after {
        backface-visibility: hidden;
        border-color: $color;
        transition: width 350ms ease-in-out;
        width: 100%;
      }
    }
  }
}

.link {
  display: flex;
  align-items: center;
  position: relative;
  @include underline($color-red);
  color: $text-grey;
  &.isActive {
    color: $color-red;
  }
}

.linkTitle {
  display: inline-block;
  margin-left: 0.5rem;
}

.svgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ville,
.johanna {
  display: inline-block;
  height: 4rem;
}
