.LandingPage-hero-container {
  position: relative;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  &:after {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(270deg, #de6262, #ff9959);
    opacity: 0.8;
  }
}
.LandingPage-hero-image {
  width: 100%;
  height: auto;
  // position: absolute;
}
.LandingPage-hero-title {
  position: absolute;
  transform: translateX(-50%) translatey(-50%);
  background-color: white;
  left: 50%;
  top: 50%;
  padding: 2rem;
  z-index: $z-index-first;
}
