@import "~scss/_variables";
@import "~scss/_mixins";
@import "~scss/_keyframes";
@import "~scss/_grid";
.container {
    @include landingPageContainer();
}

.hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: top center;
    background-repeat: none;
    @include breakpoint(1px, $header-breakpoint) {
        height: calc(100vh);
    }
    @include breakpoint($header-breakpoint) {
        height: calc(100vh - #{$header-desk-height});
    }
    &:after {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        content: "";
        background: linear-gradient(270deg, #de6262, #ff9959);
        opacity: 0.8;
    }
}

.heroTitle {
    background-color: white;
    padding: 1.5rem;
    font-size: $font-size-l;
    z-index: $z-index-first;
    @include breakpoint(500px) {
        font-size: $font-size-xl;
    }
    @include breakpoint($header-breakpoint) {
        padding: 2rem;
        font-size: $font-size-xxl;
    }
}

.scrollDown {
    margin: 0;
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: $default-margin*3;
    z-index: $z-index-first;
}

.infoContainer {
    @include contentContainer();
    margin-top: $double-default-margin;
    margin-bottom: $double-default-margin;
}

.infoCard {
    @include card();
    padding: $double-default-margin;
}

.infoContent {
    max-width: $max-inner-content;
    margin: 0 auto;
}

.mapWrapper {
    position: relative
}

.mapAdressWrapper {
    position: absolute;
    font-size: $font-size-xs;
    top: $default-margin;
    right: $default-margin;
    z-index: $z-index-first;
    padding: $default-margin;
    background-color: rgba(255, 255, 255, 0.808);
}