@import "~scss/_variables";
@import "~scss/_mixins";
//////////////////////////////////////////
// Page content container
//////////////////////////////////////////
.container {
    margin-top: $header-desk-height;
    width: 100%;
    z-index: $z-index-first;
    @include breakpoint(1px, $header-breakpoint) {
        transition: transform 0.4s ease;
        transform: translateX(0);
    }
}

