@import "~scss/_variables";
@import "~scss/_mixins";
@import "~scss/_grid";
//////////////////////////////////////////
// Page content container
//////////////////////////////////////////
.Container {
    margin-top: $header-desk-height;
    width: 100%;
    z-index: $z-index-first;
    @include breakpoint(1px, $header-breakpoint) {
        transition: transform 0.4s ease;
        transform: translateX(0);
    }
}

//////////////////////////////////////////
// Used for pages without offset
// (mainly landing page)
//////////////////////////////////////////
.Main-container--no-offset {
    @include breakpoint(1px, $header-breakpoint) {
        margin-top: calc(#{$header-desk-height} * -1);
    }
}

.Main-inner {
    max-width: $page-max-width;
    margin: 0 auto;
    padding: $default-margin;
    @include breakpoint($header-breakpoint) {
        padding: $default-margin*2;
    }
}