@import "~scss/_variables";
@import "~scss/_mixins";
@import "~scss/_grid";
.container {
    background: $text-grey;
    color: white;
    width: 100%;
}

.innerContainer {
    @include contentContainer();
}