@import "~scss/_variables";
.container {
    padding-top: 0.5rem;
    border-top: 1px solid $border-grey;
    font-size: $font-size-xs;
}

.message {
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    color: $color-medium-grey; // text-decoration: none;
}