@import "variables";

.container {
  padding-top: 0.5rem;
  border-top: 1px solid var(--light-grey);
  font-size: var(--font-size-xs);
}

.message {
  margin: 0;
}

.list {
  list-style: none;
}

.link {
  color: var(--medium-grey);
  text-decoration: none;
}
