//////////////////////////////////////////
// Used for pages without offset
// (mainly landing page)
//////////////////////////////////////////
@mixin landingPageContainer() {
    margin-top: 0;
    @include breakpoint($header-breakpoint) {
        margin-top: $header-desk-height;
    }
}

@mixin pageContainer() {
    margin-top: $header-desk-height;
}

@mixin contentContainer() {
    flex: 1;
    width: 100%;
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    padding: $default-margin;
    @include breakpoint($header-breakpoint) {
        padding: $default-margin*2;
    }
}