@font-face {
    font-family: sofiaRegular;
    src: url("../assets/fonts/sofia-regular.ttf");
}

@font-face {
    font-family: sofiaMedium;
    src: url("../assets/fonts/sofia-medium.ttf");
}

@font-face {
    font-family: sofiaLight;
    src: url("../assets/fonts/sofia-light.ttf");
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    color: $text-grey;
    background-color: $off-white;
    font-family: sofiaMedium; 
    overflow-x: hidden;
    line-height: 1.6rem;
}