@mixin breakpoint($min, $max:null) {
    @if $max {
        @media (min-width: $min) and (max-width: $max) {
            @content;
        }
    }
    @else {
        @media (min-width: $min) {
            @content;
        }
    }
}

@mixin flexCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card() {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .12);
}

//////////////////////////////////////////////
// Underline links animation
/////////////////////////////////////////////
