//////////////////////////////////////////
// Colors
//////////////////////////////////////////
$text-grey: rgb(76, 76, 76);
$border-grey: #d4d4d4;
$color-medium-grey: rgb(115, 115, 115);
$color-green: #27ae60;
$color-red: #e74c3c;
$color-orange: #ff9959;
$off-white: #fafafa;
//////////////////////////////////////////
// Sizes
//////////////////////////////////////////
$half-default-margin: 0.5rem;
$default-margin: 1rem;
$double-default-margin: 2rem;
$header-desk-height: 5rem;
$page-max-width: 760px;
$header-breakpoint: 900px;
$mobile-menu-width: 300px;
//////////////////////////////////////////
// Fonts and Font sizes
//////////////////////////////////////////

$font-size-xs: 0.8rem;
$font-size-s: 0.9rem;
$font-size-m: 1rem;
$font-size-l: 1.4rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2rem;
//////////////////////////////////////////
// Z-index
//////////////////////////////////////////
$z-index-first: 1;
$z-index-second: 10;
$z-index-third: 100;
$z-index-fourth: 200;