@import "variables";
@import "grid";
@import "breakpoints";

.container {
  background: var(--text-grey);
  color: var(--color-white);
  width: 100%;
  flex-shrink: 0;

  @media (--viewport-max-959) {
    padding-bottom: var(--header-mobile-height);
  }
}

.innerContainer {
  @mixin contentContainer;
}

.grid {
  @mixin flexRow 0;

  margin-bottom: var(--default-margin);

  @media (--viewport-min-768) {
    @mixin flexRow 1rem;
  }
}

.column {
  border-bottom: 1px solid var(--color-white);
  padding-bottom: var(--default-margin);

  @mixin flexGtrCol 1, var(--default-margin);

  @media (--viewport-min-768) {
    @mixin flexGtrCol 3, var(--default-margin);
  }
}

.hashTag {
  text-align: center;
}
