*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sofiaRegular, sans-serif;
  color: $text-grey;
  background-color: $off-white;
  overflow-x: hidden;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

//////////////////////////////////////////
// Page content container
//////////////////////////////////////////
.Main-container {
  margin-top: $header-desk-height;
  width: 100%;
  z-index: $z-index-first;
  @include breakpoint(1px, $header-breakpoint) {
    transition: transform 0.3s ease;
    transform: translateX(0);
    &.is-open {
      transform: translateX($mobile-menu-width);
    }
  }
}

.Main-inner {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $base-margin*2;
}

.Form-container {
  max-width: 560px;
  margin: 0 auto;
}

//////////////////////////////////////////
// Utils
//////////////////////////////////////////
.u-Center {
  text-align: center;
}

.Guest-list {
  padding: 0;
}
