*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: $text-grey;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

//////////////////////////////////////////
// Page content container
//////////////////////////////////////////
.Main-container {
  margin-top: $header-desk-height;
  width: 100%;
}

.Main-inner {
  max-width: $page-max-width;
  margin: 0 auto;
  padding: $base-margin*2;
}
