//////////////////////////////////////////
// Colors
//////////////////////////////////////////
$text-grey: rgb(106, 106, 106);

//////////////////////////////////////////
// Sizes
//////////////////////////////////////////
$base-margin: 15px;

$header-desk-height: 80px;

$page-max-width: 1120px;
