//////////////////////////////////////////
// Colors
//////////////////////////////////////////
$text-grey: rgb(76, 76, 76);
$border-grey: #d4d4d4;

$color-medium-grey: rgb(115, 115, 115);
$color-green: #27ae60;
$color-red: #e74c3c;
$color-orange: #ff9959;
$off-white: #fafafa;

//////////////////////////////////////////
// Sizes
//////////////////////////////////////////
$base-margin: 15px;

$header-desk-height: 80px;

$page-max-width: 760px;

// HEADER AND CONTENT MOBILE VIEW
$header-breakpoint: 900px;
$mobile-menu-width: 300px;

//////////////////////////////////////////
// Fonts
//////////////////////////////////////////

@font-face {
  font-family: sofiaRegular;
  src: url("../../assets/fonts/sofia-regular.ttf");
}
@font-face {
  font-family: sofiaMedium;
  src: url("../../assets/fonts/sofia-medium.ttf");
}
@font-face {
  font-family: sofiaLight;
  src: url("../../assets/fonts/sofia-light.ttf");
}

//////////////////////////////////////////
// Z-index
//////////////////////////////////////////
$z-index-first: 1;
$z-index-second: 10;
$z-index-third: 100;
$z-index-fourth: 200;
